<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<!-- mybatis-config.xml ::  MyBatis Framework MetaData -->					
<configuration>

	<!-- properties 참조할 수 있음 -->
	<!-- 1. properties 파일관리
		 - 애플리케이션 배포시 공통부분, 각 환경별 다른 값들은 properties 파일에
		 독립적으로 관리 할 수 있다.
		 - DBMS 접속 정보를 갖는 properties 파일 참조
		 - properties 파일에 저장된 name = value 는 ${name} 표현으로 접근가능 -->
	<properties resource = "sql/jdbc.properties"/>
	
	<!-- 2. 기타 설정 정보 :: [MyBatis_Home]/mybatis-3.2.1.pdf 참조 -->
	<settings>
		<!-- select 결과 column이 null 인 경우 setter Method 호출 유무 :: 
			false : Null 일 때는 setter method를 호출하지 않아, 필드에서 자동 초기화 되는 값이 됨
			디폴트가 false 이기 때문에 안 써줘도 됨! -->
		 <setting name="callSettersOnNulls" value="false"/>
	</settings>
	
	<!-- 3. FQCN(Full Qualified Class Name) Alias(별칭관리) -->
	<typeAliases>
		<typeAlias alias="user" type = "mybatis.service.domain.User"/>
	</typeAliases>
	<!-- MyBatis는 자주 사용/공통된 Data Type은 내장된 Alias를 정의 해 두고 있다.
		- string : java.lang.String
		- byte : java.lang.Byte :: wrapper class
		- Primitive Data Type : _byte 형태
		- object : java.lang.Object 	- map : java.util.Map
		- hashmap : java.util.HashMap 	- list : java.util.List
		- arraylist : java.util.ArrayList 등 -->
	
  	<environments default="development">
  
    	<environment id="development">
      	<!-- Transaction Definition -->
      	<transactionManager type="JDBC"/>
 	  	 <!-- javax.sql.DataSource Definition -->      
 	   	<!-- 이걸로 Connection Pool 끝! -->
      	<dataSource type="POOLED">
        	<property name="driver"  value="${driver}"/>
        	<property name="url" value="${url}"/>
        	<property name="username"  value="${username}"/>
        	<property name="password" value="${password}"/>
      	</dataSource>
    </environment>
    
  </environments>

  <!-- SQL Definition :: file include -->
  <mappers>
    <mapper resource="sql/UserMapper.xml"/>
    <mapper resource="sql/UserMapper01.xml"/>
    <mapper resource="sql/UserMapper02.xml"/>
    <mapper resource="sql/UserMapper03.xml"/>
    <mapper resource="sql/UserMapper04.xml"/>
    <mapper resource="sql/UserMapper05.xml"/>
    <mapper resource="sql/UserMapper06.xml"/>
    <mapper resource="sql/UserMapper07.xml"/>
    <mapper resource="sql/UserMapper08.xml"/>
    <mapper resource="sql/UserMapper09.xml"/>
    <mapper resource="sql/UserMapper10.xml"/>
  </mappers>

</configuration>